body {
    background-color: #f4f6fa !important;
}

.container1 {
    padding-top: 25px;
    padding-left: 100px;
}

.container1 > div {
    display: inline-block;
    padding-left: 50px;
}


.container2 {
    padding-top: 25px;
    padding-left: 100px;
}

.container2 > div {
    display: inline-block;
    padding-left: 50px;
}


.container3 {
    padding-top: 25px;
    padding-left: 100px;
}

.container3 > div {
    display: inline-block;
    padding-left: 50px;
}


.container4 {
    padding-top: 25px;
    padding-left: 100px;
}

.container4 > div {
    display: inline-block;
    padding-left: 50px;
}

.container5 {
    padding-top: 25px;
    padding-left: 100px;
}

.container5 > div {
    display: inline-block;
    padding-left: 50px;
}


.container6 {
    padding-top: 25px;
    padding-left: 100px;
}

.container6 > div {
    display: inline-block;
    padding-left: 50px;
}


.container7 {
    padding-top: 25px;
    padding-left: 100px;
}

.container7 > div {
    display: inline-block;
    padding-left: 50px;
}

.container8 {
    padding-top: 25px;
    padding-left: 100px;
}

.container8 > div {
    display: inline-block;
    padding-left: 50px;
}
